
        body {
            font-family: 'Arial', sans-serif;
            background-color:#f39c12;
            color: ;
            margin: 0;
            padding: 0;
         }
        
        header {
            background-color: #222;
            padding: 20px;
            text-align: center;
            position: sticky;
            top: 0;
            z-index: 1000;
        }
        h1 {
            color: #f39c12;
            margin: 0;
        }
        footer {
            text-align: center;
            padding: 20px;
            background-color:#333 ;
            color: #fff;
            position: fixed;
            bottom: 0;
            width: 98%;
        }
        .volverinicio{
            text-decoration: none;
            width: 20px;
            float: left;
            
        }
            .volver{
                text-decoration: none;
                width: 35px;
                height: 35px;
                background: url(../imagenes/flecha1.png);
                float: left;
                margin-right: 0px;
        }
