* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    font-family: Arial, sans-serif;
    color: #fff;
}
header {
    position: absolute;
    top: 0;
    width: 100%;
    padding: 20px 40px;
    display: flex;
    justify-content: center;
    z-index: 10;
}
header .container {
    width: 100%;
    max-width: 1200px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.logo {
    display: flex;
    align-items: center;
    gap: 10px;
}
.logo img {
    width: 32px;      
    height: 32px;
    object-fit: contain;
}
.logo h1 {
    font-weight: bold;
    font-size: 18px;
    color: #fff;
    margin: 0;
}
header nav {
    display: flex;
    gap: 50px;
}
header nav a {
    color: #fff;
    text-decoration: none;
    font-size: 14px;
    padding: 6px 12px;          
    border-radius: 8px;         
    transition: background 0.3s;
    display: inline-block;
}
header nav a:hover{
    background: rgba(255, 255, 255, 0.2);
}
header .boton {
    padding: 8px 16px;
    background: rgba(255,255,255,0.2);
    border-radius: 8px;
    color: #fff;
    text-decoration: none;
    font-size: 14px;
    transition: 0.3s;
}
header .boton:hover {
    background: rgba(255,255,255,0.4);
}
.hero {
    height: 100vh;
    background: url('../imagenes/heroimagen.jpg') center/cover no-repeat;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0 40px;
    position: relative;
}
.hero::after {
    content: "";
    position: absolute;
    inset: 0;
    background: rgba(0,0,0,0.4);
}
.hero-content {
    position: relative;
    max-width: 600px;
    z-index: 1;
    text-align: center;
}
.hero h2 {
    font-size: 42px;
    line-height: 1.2;
    font-weight: 700;
    margin-bottom: 20px;
}
.hero p {
    font-size: 16px;
    line-height: 1.6;
    margin-bottom: 30px;
}
.llamadoaccion {
    padding: 10px 20px;
    background: #fff;
    color: #000;
    text-decoration: none;
    border-radius: 6px;
    font-weight: bold;
    transition: 0.3s;
}
.llamadoaccion:hover {
    background: #f1f1f1;
}
footer {
    bottom:0;
    left:0;
    width:100%;
    background:#caa2c3;
    color:#fff;
    padding:30px 40px;
}
.footer-container {
    max-width:1200px;
    margin:0 auto;
    display:flex;
    flex-wrap:wrap;
    justify-content:space-between;
    gap:20px;
}
.footer-container .col a {
    color:#fff;
    text-decoration:none;
}
.footer-container .col a:hover {
    text-decoration:underline;
}